@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/700.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";
@import "tailwindcss";

:root {
  color-scheme: light;
  font-family: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
